body, html {
	margin: 0;
	font: 16px 'Lato', sans-serif;
	color: #777;
	height: 100%;
}

.information-page {
	color: #777;
	background-color: #fff;
	text-align: justify;
	padding: 50px 80px;
}

.information-page > h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

.information-page > p {
	margin-bottom: 20px;
	color: black;
}

/*Efeito Parallax
*****************/
.caixa1, .caixa2 {
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.caixa1 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(/assets/imagens/foto01.jpg);
	height: 100%;
}

.caixa2 {
	background-image: url(/assets/imagens/foto02.jpg);
}

.conteudo-titulo {
    display: flex;
    justify-content: center;
}

.conteudo-titulo span.titulo {
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-top: 40px;
    border-radius: 20px;
}

/* Boxs da page-2 */
.informations-boxes {
    display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 75%;
}

.page-2-boxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 100%;
}

.content-box1 {
	background-color: black;
	height: 80%;
	width: 70%;
	border-radius: 30px;
	margin-left: 20%;
	margin-top: 10%;
}
.content-box1 > h3 {
	color: yellow;
	text-align: center;
	margin-top: 7px;
}

.content-box2 {
	background-color: yellow;
	height: 80%;
	width: 70%;
	border-radius: 30px;
	margin-top: 10%;
}

.content-box2 > h3 {
	color: black;
	text-align: center;
	margin-top: 7px;
}


.contact, .icon {
	width: 65px;
	height: 65px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: inline-flex;
}

footer {
    width: 100%;
    color: white;
}

#footer-content {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 3rem 3.5rem;
    width: 100%;
}

#footer-text {
	margin-right: 50px;
}

#footer-text > h1 { 
    text-align: center;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer-content {
        grid-template-columns:repeat(1, 1fr);
        gap: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .page-2-boxes {
        grid-template-columns:repeat(1, 1fr);
        gap: 2rem;
    }
}