body, html {
	margin: 0;
	font: 16px 'Lato', sans-serif;
	color: #777;
	height: 100%;
}

.information-page {
	color: #777;
	background-color: #fff;
	text-align: justify;
	padding: 50px 80px;
}

h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

.information-page > p {
	margin-bottom: 20px;
	color: black;
}

/*Efeito Parallax
*****************/
.caixa1, .caixa2 {
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.caixa1 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(/assets/imagens/foto01.jpg);
	height: 100%;
}

.caixa2 {
	background-image: url(/assets/imagens/foto02.jpg);
}

.conteudo-titulo {
    display: flex;
    justify-content: center;
}

.conteudo-titulo span.titulo {
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-top: 40px;
    border-radius: 20px;
}

/* Boxs da page-2 */
.informations-boxes {
    display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 75%;
}

.content-box1 {
	background-color: black;
	height: 90%;
	width: 30%;
	border-radius: 30px;
}
.content-box2 {
	background-color: black;
	height: 90%;
	width: 30%;
	border-radius: 30px;
}

.contact, .icon {
	width: 65px;
	height: 65px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: inline-flex;
}

footer {
    background-color: black;
	width: 100%;
}

.conteudo-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
    width: 100%;
}

.endereco {
	color: white;
	font-size: 12px;
}

.conteudo-footer, .icon-map {
	color: yellow;
}
.endereco-icon {
	margin-bottom: 10px;
}

.text-maps {
	color: white;
	font-size: 20px;
}

.left-content > h1 {
	text-align: center;
}

.left-content > p {
	color: white;
	font-size: 13px;
	text-align: center;
}

.all-rights {
	color: white;
	font-size: 15px;
}

.container-all-rights {
	display: flex;
	justify-content: center;
	height: 25%;
	width: 100%;
	margin-top: 0px;
	border-top: 1px white solid;
}

.left-content {
	display: flex;
	justify-content: center;
}

/* Responsive footer */
@media screen and (max-width: 768px) {
    .conteudo-footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}